In [ ]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [ ]:
#https://www.kaggle.com/datasets/vetrirah/customer?select=Train.csv
# use only the training data
df = pd.read_csv("data/segmentation_raw.csv", index_col=0)
df

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
ID,,,,,,,,,,
462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
...,...,...,...,...,...,...,...,...,...,...
464018,Male,No,22,No,NaN,0.0,Low,7.0,Cat_1,D
464685,Male,No,35,No,Executive,3.0,Low,4.0,Cat_4,D
465406,Female,No,33,Yes,Healthcare,1.0,Low,1.0,Cat_6,D
467299,Female,No,27,Yes,Healthcare,1.0,Low,4.0,Cat_6,B
461879,Male,Yes,37,Yes,Executive,0.0,Average,3.0,Cat_4,B

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ("gender", OrdinalEncoder(categories=[["Female", "Male"]]), ["Gender"]),
        ("married", OrdinalEncoder(categories=[["No", "Yes"]]), ["Ever_Married"]),
        ("graduated", OrdinalEncoder(categories=[["No", "Yes"]]), ["Graduated"]),
        ("profession", OneHotEncoder(max_categories=3), ["Profession"]),
        ("spending_score", OrdinalEncoder(categories=[["Low", "Average", "High"]]), ["Spending_Score"]),
        ("var_1", OneHotEncoder(max_categories=3), ["Var_1"]),
    ], remainder="passthrough"
)

# Transform the data
transformed_data = preprocessor.fit_transform(df.dropna())

# Convert to DataFrame
feature_names = preprocessor.get_feature_names_out()
df_transformed = pd.DataFrame(transformed_data, columns=feature_names)
df_transformed = df_transformed.iloc[:,~df_transformed.columns.str.endswith('sklearn')]
df_transformed = df_transformed.iloc[:,~df_transformed.columns.str.startswith('var_1')]
df_transformed

,gender__Gender,married__Ever_Married,graduated__Graduated,profession__Profession_Artist,profession__Profession_Healthcare,spending_score__Spending_Score,remainder__Age,remainder__Work_Experience,remainder__Family_Size,remainder__Segmentation
0,1.0,0.0,0.0,0.0,1.0,0.0,22,1.0,4.0,D
1,0.0,1.0,1.0,0.0,0.0,0.0,67,1.0,1.0,B
2,1.0,1.0,1.0,0.0,0.0,2.0,67,0.0,2.0,B
3,1.0,1.0,0.0,1.0,0.0,1.0,56,0.0,2.0,C
4,1.0,0.0,1.0,0.0,1.0,0.0,32,1.0,3.0,C
...,...,...,...,...,...,...,...,...,...,...
6660,1.0,1.0,1.0,1.0,0.0,2.0,41,0.0,5.0,B
6661,1.0,0.0,0.0,0.0,0.0,0.0,35,3.0,4.0,D
6662,0.0,0.0,1.0,0.0,1.0,0.0,33,1.0,1.0,D
6663,0.0,0.0,1.0,0.0,1.0,0.0,27,1.0,4.0,B
6664,1.0,1.0,1.0,0.0,0.0,1.0,37,0.0,3.0,B

In [41]:
df_transformed.to_csv("segmentation",index=False)